<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/2cb25f2c39.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="CSS/Extras.css">
    <link rel="stylesheet" href="CSS/styles.css">
    <link rel="icon" href="Imagenes/WhatsApp_Image_2022-11-20_at_4.22.53_AM-removebg-preview.png">
</head>
<body>
    <header>
        <div class="bar-btn" onmouseover="ver()" onmouseout="ocultar()">
            <i style="padding-left: 2vw;" class="fas fa-bars"></i>
            
            <ul class="nav-men" id="seccion" style="display: none;">
                <li class="menu-item"><form action="inicio" method="get"><button type="submit" style="border-radius: 10px;">Principal</button></form></li>
                <li class="menu-item"><form action="objetivos" method="get"><button type="submit" style="border-radius: 10px;">Objetivos</button></form></li>
                <li class="menu-item"><form action="metricas" method="get"><button type="submit" style="border-radius: 10px;">Metricas</button></form></li>
                <li class="menu-item"><form action="cerrar" method="get"><button type="submit" style="border-radius: 10px;">Cerrar Sesión</button></form></li>
            </ul>
        </div>

        <img src="Imagenes/SmokeFinal.png">

        <div class="nav-secundario">
            <li class="menu-item"><a href="Recomendaciones.html"><button type="submit" style="border-radius: 10px;">Información</button></a></li>
        </div>
    </header>

    <div  class="texto">
        A continuación puedes encontrar un poco de información necesaria para que conozcas a detalle
        el funcionamiento de los métodos que se presentan en el desarrollo de los objetivos.
        Recuerda que esta información es únicamente de conocimiento popular y pretende aportar al usuario
        medios para que el proceso de su adicción sea más sencillo de sobrellevar, sin embargo, ante cualquier situación,
        consulte a su médico.
    </div>

    <div align="center">
        <table width="900" class="table" align="center">
            <tr>
            <td><div align="center">Método</div></td>
            <td><div align="center">Descripción</div></td>
            </tr>
            <tr>
            <td><div align="center">Masticar Algo.</div></td>
            <td><div align="center">
                <p>Dale a tu boca algo que hacer para resistir un antojo de tabaco. Mastica chicle sin azúcar o pastillas. O bien, come zanahorias crudas, frutos secos o semillas de girasol; algo que sea crujiente y satisfactorio.</p>
                <p>Se pueden aumentar las probabilidades de tener éxito si se usan tratamientos de remplazo de nicotina (TRN), como parches o chicles que contienen nicotina o bien medicamentos sin ella.</p>
            </div></td>
            </tr>
            <tr>
            <td><div align="center">Evitar factores desencadenantes.</div></td>
            <td><div align="center">
                <p><strong>Concéntrese en dejar de fumar</strong>. No intente alcanzar otras metas mientras está en el proceso de dejar de fumar. Por ejemplo, no intente bajar de peso mientras intenta dejar de fumar. Recompénsese por alcanzar metas o pequeños éxitos.</p>
                <p>Probablemente, la necesidad de fumar un cigarrillo o de consumir tabaco sea más fuerte en las situaciones en las que fumabas o consumías tabaco con mayor frecuencia. No te condenes a la recaída. Identifica las situaciones que desencadenan los antojos de tabaco y, luego, crea un plan para que puedas evitarlas o superarlas sin consumir tabaco. Por ejemplo, si solías fumar después de comer, abandona la mesa cuando termines y sal a caminar.</p>
            </div></td>
            </tr>
            <tr>
            <td><div align="center">Técnicas de Relajación.</div></td>
            <td><div align="center">Los ejercicios de relajación pueden ayudar a aliviar la urgencia de fumar. <strong>Tome un respiro profundo, aguántelo por un momento, luego suéltelo muy lentamente.</strong> <strong>O, levántese y estírese mientras respira profundamente varias veces</strong>. Recuerde que el afán intenso por fumar es sólo temporal.</div></td>
            </tr>
            <tr>
            <td><div align="center">Actividad Física.</div></td>
            <td><div align="center">
                <p>Realizar <strong>ejercicio</strong> regular, ya sea de tipo cardiovascular o de resistencia, puede ayudar a las personas a <strong>dejar de fumar</strong>, en particular al reducir los síntomas de abstinencia y de el deso imperioso, y al ayudar a controlar el aumento de peso.</p>
                <p><strong>Caminar, nada, ir en bicicleta o correr son buenos ejemplos y tiene potencial de aliviar el deseo de fumar</strong>. Según los expertos, las sesiones de ejercicios deberán rondar los 20 minutos durante 7 días a la semana e ir aumentándolas progresivamente hasta los 60 minutos.</p>
            </div></td>
            </tr>
        </table>
    </div>
    <br><br><br>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <footer class="footer-ditributed footer">
        <br>
        <div class="footer-left">
            <img src="Imagenes/smokeout.png" alt="logo">
            <h3>Realizacion:<span>Dumman Industries</span></h3>
            
            <p class="footer-company-name">&copy;2022 SmokeOut</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Mar Mediterráneo 227, Popotla, 11400</span>CDMX,Mexico</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+52 1122334455</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="#">smoke_out@gmail.com</a></p>
            </div>
        </div>
        
        <div class="footer-right" style="text-align: justify;">
            <p class="footer-commpany-about">
                <br>
                Somos una empresa comprometida con la salud de las personas Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias incidunt in, quos est, reiciendis inventore necessitatibus minima eaque quod, sed architecto laborum ad molestias natus vitae error aperiam dolor suscipit.
            </p>
            <div class="footer-icons">
                <a href="https://www.facebook.com/profile.php?id=100087606833657&mibextid=ZbWKwL"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="https://instagram.com/smoke_out59?igshid=NTdlMDg3MTY="><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
            </div>
        </div>
    </footer>

    <script type="text/javascript">
        function ver() 
        {
            console.log("ver")
            document.getElementById('seccion').style.display="block"
        }
        function ocultar() 
        {
            console.log("ocultar")
            document.getElementById('seccion').style.display="none"
        }
    </script>

</body>
</html>